{% extends "base.html" %}

{% block content %}

<h1>Products</h1>

<table>

<tr>

<th>Product ID</th>

<th>Category</th>

<th>Product Name</th>

<th>Description</th>

</tr>

{% for product in page_obj %}

<tr>

<td>{{ product.itemid }}</td>

<td>{{ product.categoryid }}</td>

<td>{{ product.name }}</td>

<td>{{ product.description }}</td>

</tr>

{% endfor %}

</table>

<div class="pagination">

    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}

</div>

{% endblock %}