{% extends "base.html" %}

{% block content %}

<h1>Recommendation</h1>

<form method="POST">

    {% csrf_token %}

    <label>User ID</label><br>
    <input type="text" name="user">

    <br>

    <label>Top K</label><br>
    <input type="number" name="k" value="5">

    <br>

    <button type="submit">
        Recommend
    </button>

</form>

{% if recommendations %}

<h2>Results</h2>

<ul>

{% for item in recommendations %}

<li>{{ item }}</li>

{% endfor %}

</ul>

{% endif %}

{% endblock %}